body{
background-color:rgb(255, 255, 255)  ;


}
nav{
float: right;

}

nav ul {

margin: 0;
padding: 0;
list-style: none;
padding-right: 20px;

}
nav ul li{

    display: inline-block;
    line-height: 80px;
}
nav ul li a{
display: block;
padding: 0 10px;
text-decoration: none;
color: white;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav ul li :hover{
background: red;


}
nav ul li a :hover{
background: red;


}
#main-content{
background-color: black;
color: azure;
height: 80px;

}
#logo-header {

padding: 0 0 15px 20px;
float: left;
text-decoration: none;
}

#logo-header .site-name{
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;


}
#logo-header .site-desc{

    color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#main-information{


    background-color: rgb(177, 177, 177);
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0,0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main-information .content{

text-align:left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#logo-header :hover{


    background: red;
}





